/*
Reset
*/

:root {
    --aside-width: 3.125rem;
    --aside-width-s: 14.375rem;
    --footer-height: 5.625rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
Common
*/

.flex {
    display: flex;
}

.flex-dir-column {
    flex-direction: column;
}

/*
Main
*/

main {
    height: calc(100vh - var(--footer-height));
    background-color: aquamarine;
    overflow:hidden;
}

/*
Aside
*/

aside {
    width: var(--aside-width);
    background-color:powderblue;
}

aside .logo  {
    background-color: burlywood;
}

aside .logo .big {
    display:none;
} 


aside .menu {
    background-color:chocolate;
}

aside nav.menu .text {
    display: none
}

aside .playlist {
    display:none;
    background-color: lightgreen;
    flex-grow:1;
    overflow-y: hidden;

}

aside .playlist .list-playlist {
    background-color: blue;
    flex-grow:1;
    overflow-y: auto;
}

aside .profile {
    background-color: darkgoldenrod;
    margin-top: auto;
}

@media screen and (min-width: 552px) {
    aside {
        width: var(--aside-width-s);
    }

    aside .logo .small {
        display:none;
    } 

    aside .logo .big {
        display:block;
    } 

    aside nav.menu .text {
        display: initial;
    }

    aside .playlist {
        display:flex;
        flex-direction: column;
    }

}

/*
Main area
*/

#main-area {
    background-color: pink;
    width: calc(100% - var(--aside-width));
}

@media screen and (min-width: 552px) {
    #main-area {
        width: calc(100% - var(--aside-width-s));
    }
    
}

/*
Footer
*/

footer {
    height: var(--footer-height);
    background-color: gray;
}




