/*
Reset
*/

:root {
    --footer-height: 5.625rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*
Common
*/

.flex {
    display: flex;
}



/*
Main
*/

main {
    height: calc(100vh - var(--footer-height));
    background-color: aquamarine;
}

/*
Aside
*/

aside {
    width: 3.125rem;
    background-color: #000;
}

@media screen and (min-width: 552px) {
    aside {
        width: 14.375rem;
    }
}




/*
Main area
*/



/*
Footer
*/

footer {
    height: var(--footer-height);
    background-color: gray;
}




